<center>
  <h2>西安万科vv公寓智能化数据分析</h2>
  <h2>报告涵盖时间段:2015-11-08~2015-12-12日</h2>
</center>
<h3>1.使用概况</h3>
<h4>1.1基础使用数据</h4>
&nbsp;&nbsp;报告共涉及到293个房间，其中的设备包括：293个控制热水器的墙面开关、 293个控制空调的环境控制器。此外，还统计了门禁的使用情况。

<h4>1.2智能设备使用概况</h4>
<h5>&nbsp;&nbsp;1.2.1热水器的使用情况：</h5>
&nbsp;&nbsp;&nbsp;&nbsp;在293个房间中，共有<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'heater').map(&:device_id).uniq.size%>个房间使用过APP控制热水器。其中，<%=@heater_usage_overview.last[2]%>个房间为高频使用（累计使用10次或10次以上）。在观测的45天中，热水器的使用高峰发生在<%=@heater_usage_by_day.sort_by{|k,v| v.to_i}.last.first%>，当天共有<%=@heater_usage_by_day.sort_by{|k,v| v.to_i}.last.last%>个房间通过APP控制了热水器。
<h5>&nbsp;&nbsp;1.2.2空调的使用情况：</h5>
&nbsp;&nbsp;&nbsp;&nbsp;在293个房间中，共有<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'ecotower').map(&:device_id).uniq.size%>个房间使用过APP控制空调。有<%=@ecotower_usage_overview.last[2]%>个房间为高频使用（累计使用10次或10次以上）。在观测的45天中，空调的使用高峰发生在<%=@ecotower_usage_by_day.sort_by{|k,v| v.to_i}.last.first%>，当天共有<%=@ecotower_usage_by_day.sort_by{|k,v| v.to_i}.last.last%>个房间通过APP控制了空调。
<h5>&nbsp;&nbsp;1.2.3门禁的使用情况：</h5>
&nbsp;&nbsp;&nbsp;&nbsp;通过APP开门的功能，还没有得到有效地推广。通过时段图，可以看出使用APP开门的早高峰和晚高峰。
<br/>
<h4>1.3 报告数据源</h4>
&nbsp;&nbsp;报告共使用了后台系统中的<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).count%>条操作记录，其中包括：<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'heater').count%>条热水器的操作数据、<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'ecotower').count%>条空调的操作数据、<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'dooraccesses').count%>条门禁的操作数据。

<h3>2.设备使用情况-按日期</h3>
<h4>&nbsp;&nbsp;2.1热水器使用情况</h4>
&nbsp;&nbsp;&nbsp;&nbsp;在293个房间中，共有<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'heater').map(&:device_id).uniq.size%>个房间使用过APP控制热水器。其中，<%=@heater_usage_overview.last[2]%>个房间为高频使用（累计使用10次或10次以上）.该项指标较上一阶段有显著的增长。
<center><h4>热水器使用情况概览</h4></center>
<table class="table table-striped table-nonfluid">
  <tr>
    <td>类别</td>
    <td>累计天数</td>
    <td>房间数</td>
    <td>%</td>
  </tr>
  <%
    @heater_usage_overview.each do |item|
  %>
  <tr>
    <td><%=item[0]%></td>
    <td><%=item[1]%></td>
    <td><%=item[2]%></td>
    <td><%=(item[3] * 100).round(0)%>%</td>
  </tr>
  <%end%>
</table>
<p>
  通过设备使用趋势图，可以看出热水器的使用房间数在波动中有增长的趋势，这说明了住户正在逐步养成通过APP控制热水器的日常使用习惯。
</p>
<center><h4>热水器使用情况详情</h4></center>
<%= line_chart [
  {name: "热水器", data: @heater_usage_by_day},
  {name: "空调控制器", data: @ecotower_usage_by_day}
],discrete: true, xtitle: "日期", ytitle: "累计房间数(个)" %>
<p>在观测的<%=(Date.parse(@end_time)-Date.parse(@start_time)).to_i%>天中，热水器的使用高峰发生在<%=@heater_usage_by_day.sort_by{|k,v| v.to_i}.last.first%>，当天共有<%=@heater_usage_by_day.sort_by{|k,v| v.to_i}.last.last%>个房间通过APP控制了热水器。</p>

<h4>&nbsp;&nbsp;2.2空调使用情况</h4>
<p>&nbsp;&nbsp;&nbsp;&nbsp;在293个房间中，共有<%=VankeDeviceUsage.where(created_at: Date.parse(@start_time)..Date.parse(@end_time)).where(device_type: 'ecotower').map(&:device_id).uniq.size%>个房间使用过APP控制空调。其中，有<%=@ecotower_usage_overview.last[2]%>个房间为高频使用（累计使用10次或10次以上）。与上一阶段相比，空调的使用率有所下降，推测原因为本阶段的气候适宜，不需要空调进行制冷或制热。</p>
<center><h4>空调使用情况概览</h4></center>
<table class="table table-striped table-nonfluid">
  <tr>
    <td>类别</td>
    <td>累计天数</td>
    <td>房间数</td>
    <td>%</td>
  </tr>
  <%
    @ecotower_usage_overview.each do |item|
  %>
  <tr>
    <td><%=item[0]%></td>
    <td><%=item[1]%></td>
    <td><%=item[2]%></td>
    <td><%=(item[3] * 100).round(0)%>%</td>
  </tr>
  <%end%>
</table>
<p>
  通过设备使用趋势图，可以看出：九月底和十月的空调使用率较低；而进入11月后，随着天气变冷，空调的使用率有所增长，并于<%=@ecotower_usage_by_day.sort_by{|k,v| v.to_i}.last.first%>达到该阶段的峰值，当天共有<%=@ecotower_usage_by_day.sort_by{|k,v| v.to_i}.last.last%>个房间通过APP控制了空调。
</p>
<h4>&nbsp;&nbsp;2.3门禁使用情况</h4>
<p>通过APP控制门禁的功能还没有得到有效地推广。在观测的<%=(Date.parse(@end_time)-Date.parse(@start_time)).to_i%>天中，共有两次高峰：9月23日和10月29日。</p>
<center><h4>门禁使用情况详情-按天</h4></center>
<%= line_chart [
  {name: "开门", data: @door_accesses_usage_by_day[0]},
  {name: "分享权限", data: @door_accesses_usage_by_day[1]}
], discrete: true, xtitle: "小时", ytitle: "累计次数(次)" %>
<h3>3.设备使用情况-按时段</h3>
<h4>&nbsp;&nbsp;3.1热水器使用情况</h4>
<p>
通过热水器使用时段图，可以解读出住户的一些日常使用习惯。在早时段，工作日的早高峰位于7点至9点，而周末的早高峰位于9点至11点。在晚时段，使用高峰都位于21点至23点。
</p>
<center><h4>热水器使用情况详情-按小时</h4></center>
<%= line_chart [
  {name: "工作日", data: @heater_usage_by_hour[0]},
  {name: "周末", data: @heater_usage_by_hour[1]}
], discrete: true, xtitle: "小时", ytitle: "累计房间数(个)" %>
<h4>&nbsp;&nbsp;3.2空调使用情况</h4>
<p>
通过空调使用时段图，同样可以解读出住户的一些日常使用习惯。在早时段，工作日有一个明显的使用早高峰。在晚时段，工作日的使用高峰要早于周末。
</p>
<center><h4>空调使用情况详情-按小时</h4></center>
<%= line_chart [
  {name: "工作日", data: @ecotower_usage_by_hour[0]},
  {name: "周末", data: @ecotower_usage_by_hour[1]}
], discrete: true, xtitle: "小时", ytitle: "累计房间数(个)" %>
<h4>&nbsp;&nbsp;3.3门禁使用情况</h4>
<p>
通过门禁使用时段图，可以看出使用APP开门的早高峰和晚高峰。在住户的工作时段，即10点至18点，通过APP分享开门权限的功能，也得到了一定的使用。此外，还能看到一些住户有凌晨晚归的习惯。
</p>
<center><h4>门禁使用情况详情-按小时</h4></center>
<%= line_chart [
  {name: "开门", data: @door_accesses_usage_by_hour[0]},
  {name: "分享权限", data: @door_accesses_usage_by_hour[1]}
], discrete: true, xtitle: "小时", ytitle: "累计次数(次)" %>



<center><h4>热水器按使用方式详情</h4></center>
<%= line_chart [
  {name: "APP控制", data: @heater_usage_by_control_type[0]},
  {name: "墙面开关控制", data: @heater_usage_by_control_type[1]}
], xtitle: "日期", ytitle: "累计操作记录数(次)",discrete: true %>
<h2>空调控制器按使用方式详情</h2>
<%= line_chart [
  {name: "APP控制", data: @ecotower_usage_by_control_type[0]},
  {name: "墙面开关控制", data: @ecotower_usage_by_control_type[1]}
], xtitle: "日期", ytitle: "累计操作记录数(次)",discrete: true%>

