<center>
  <h2>西安万科vv公寓4楼公共区域灯的调控日志(device_ip为40465的Ri信息)</h2>
  <h2>报告涵盖时间段:<%=@start_time%>~<%=@end_time%>日</h2>
</center>
<h3>1.照明情况汇总-按天</h3>
<%avg_hour = Tool.second2hour(@everyday_lighting_hour_second.values.sum/@everyday_lighting_hour_second.size)%>
<h4>&nbsp;&nbsp;下图汇总了每天累计照明时间，平均照明时长约为<%=avg_hour%>/天，开灯时长和关灯时长之比约为1:<%=((24-avg_hour.to_f)/avg_hour.to_f).round(2)%>。</h4>
<center><h4>每天累计照明时间</h4></center>
<%= column_chart get_everyday_lighting_hour_data%>
<h4><p>
下表细分了每天累计照明时间，统计了开启次数和每次开启的平均时长。平均来说，灯每天会开启约<%="#{(@everyday_lighting_on.values.sum/@everyday_lighting_on.size).round(0)}次"%>，每次平均时长约<%="#{(@everyday_lighting_hour_second.values.sum/@everyday_lighting_on.values.sum).round(0)}秒"%>。
</p></h4>
<center><h4>每天累计开启次数和每次平均照明时长</h4></center>
<table class="table table-striped table-nonfluid">
  <tr>
    <td>日期</td>
    <td>星期?</td>
    <td>开启次数</td>
    <td>每次开启平均照明时长</td>
  </tr>
  <%
    @everyday_lighting_on.each do |k,v|
  %>
  <tr>
    <td><%=k%></td>
    <td><%=Tool.num2week(Date.parse(k).wday)%></td>
    <td><%=v%>次</td>
    <td><%=(@everyday_lighting_hour_second[k]/v).round(0)%>秒</td>
  </tr>
  <%end%>
  <tr>
    <td>均值</td>
    <td>---</td>
    <td><%="#{(@everyday_lighting_on.values.sum/@everyday_lighting_on.size).round(0)}次"%></td>
    <td><%="#{(@everyday_lighting_hour_second.values.sum/@everyday_lighting_on.values.sum).round(0)}秒"%></td>
  </tr>
</table>

<h3>2.照明情况汇总2-按小时</h3>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;将数据细分到小时，可以看出一些照明开启的趋势信息。
通过下图按小时统计的累计照明时间，可以看出：
在凌晨至清晨时段，若无人经过，灯不会亮起，发挥了很好的节电作用；
</p>
<center><h4>每天累计照明时长-按小时</h4></center>
<%@everyday_lighting_on.each do |k,v|%>
  <%= column_chart get_everyday_hour_linghing_hour(k)%>
<%end%>

<hr/>
<p>下图细分了每小时累计开启次数。</p>
<center><h4>每天累计开启次数-按小时</h4></center>
<%@everyday_lighting_on.each do |k,v|%>
  <%= column_chart get_everyday_hour_linghing_on(k)%>
<%end%>
<p>
  可以看出在高峰期时，每小时约开启15次，体现了照明系统的灵活性。
  <br/>
  从每次开启的时长来看，通常约为30秒，既可以保证用户完全通过走廊，又起到了节电的效果。
</p>
<p>照明时间最长的10次明细信息</p>
<center><h4>照明时间最长的20次明细信息</h4></center>
<table class="table table-striped table-nonfluid">
  <tr>
    <td>日期</td>
    <td>星期?</td>
    <td>开启时间</td>
    <td>此次开启照明时长</td>
  </tr>
  <%top10 = @hash.sort_by{ |k,v| v }.reverse.first(20)%>
  <%
    top10.each do |k,v|
  %>
  <tr>
    <td><%=k[0..9]%></td>
    <td><%=Tool.num2week(Date.parse(k).wday)%></td>
    <td><%=k[11..19]%></td>
    <td><%=Tool.second2hour(v)%></td>
  </tr>
  <%end%>
</table>
<p>
&nbsp;&nbsp;通过上表也可以看出，这些长时间的照明通常发生在进出门的高峰期，推测是不断地有人路过公共区域而造成的，也间接说明了人体红外传感器的“人来灯亮”功能，不会受前序人群是否离开的影响。
</p>

<p>
  <h4>[总述]</h4>
  &nbsp;&nbsp;通过人体红外传感器和照明系统的整合，可为公共区域的照明节省大量的费用和能源。此外，基于人体红外传感器敏锐的感知能力，在满足住户原有照明需求的同时，相继开启的路灯更是带来了科技感的体验。
</p>